<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEDRMWebService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://instorage/DocumotiveEDRMWebService/EDRMWebService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEDRMWebService"
                contract="documotive.IEDRMWebService" name="WSHttpBinding_IEDRMWebService">
                <identity>
                    <servicePrincipalName value="host/instorage.BCHTGroup.org" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ImageUploadAPI" value="http://localhost:49161/api/fileupload"/>
  </appSettings>
</configuration>